@import '../node_modules/bootstrap-scss/bootstrap.scss';

//先針對media queries的width設為變數
$pc-media: 992px;
$pad-media: 768px;
$phone-media: 576px;

//手機
@mixin phone-width() {
  @media (min-width: $phone-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media (min-width: $pad-media) {
    @content;
  }
}
//電腦
@mixin pc-width() {
  @media (min-width: $pc-media) {
    @content;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

a:hover {
  text-decoration: none;
}
.fas{
  font-size: 24px;
}

* {
  // outline: 1px solid red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  .text-dark {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    &:hover{
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 16px;
    left: 31px;
  }
  .cartbtn{
    position: absolute;
    top: 16px;
    right: 31px;
  }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.section1 {
  overflow: hidden;
  position: relative;
  @include pad-width {
    color: black;
  }
  color: white;
  .row {
    height: 800px;
  }
  .bgc {
    background-image: url(../image/photo-1557644978-f61037cfbe49.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -11;
  }
  .subtitle {
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    @include pad-width {
      font-size: 24px;
    }
  }
}

.article {
  .text {
    padding: 16px 15px;
  }
  @include pad-width {
    & article:nth-child(odd) .text {
      text-align: left;
    }
    & article:nth-child(even) .text {
      text-align: right;
    }
  }
}

.banner {
  // @include phone-width {
  //   padding: 24px 0;
  // }
  background-image: url(../image/burningparrot-u2Xn5Bzvllw-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  // padding: 150px 0;
  .text {
    color: #ffffff99;
  }
}

.carousel {
  .card {
    position: relative;
    .card-img-top {
      height: 350px;
    }
    .tag {
      position: absolute;
      right: 2rem;
      top: 1rem;
      color: white;
    }
  }
}

.footer-banner {
  background-image: url(../image/tom-crew-uDF1mW7EUwM-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  .text {
    color: #ffffff99;
  }
  .form-control {
    background-color: transparent;
  }
  .title {
    font-size: 32px;
    @include pad-width {
      font-size: 48px;
    }
  }
}
.footer {
  .copyright {
    color: #ffffff99;
  }
  .nav-item {
    color: #ffffffde;
  }
}
.logo {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  @include pad-width {
    color: black;
  }
  color: white;
}
