@import '../node_modules/bootstrap-scss/bootstrap.scss';

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

* {
  outline: 1px solid red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.section1 {
  overflow: hidden;
  position: relative;
  .row {
    height: 800px;
  }
  .bgc {
    background-image: url(../image/photo-1557644978-f61037cfbe49.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -11;
  }
  .subtitle {
    color: #0000009a;
    font-weight: 400;
  }
}

.article .text {
  padding: 6%;
  &:nth-child(odd) {
    text-align: left;
  }
  &:nth-child(even) {
    text-align: right;
  }
}

.banner {
  background-image: url(../image/burningparrot-u2Xn5Bzvllw-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  padding: 150px 0;
  .text {
    color: #ffffff99;
  }
}

.carousel {
  .card {
    position: relative;
    .card-img-top {
      height: 350px;
    }
    .tag {
      position: absolute;
      right: 2rem;
      top: 1rem;
      color: white;
    }
  }
}

.footer-banner {
  background-image: url(../image/tom-crew-uDF1mW7EUwM-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  padding: 150px 0;
  .text {
    color: #ffffff99;
  }
  .form-control {
    background-color: transparent;
  }
}
.footer {
  .copyright {
    color: #ffffff99;
    margin-left: 1rem;
  }
  .nav-item {
    color: #ffffffde;
  }
}
.logo {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}
