<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.container
      .row
        .col-lg-6.col-md-6.col-12
          a.navbar-brand(href='#') Navbar
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .col-lg-6.col-md-6.col-12
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href='#')
                  | Product 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Blog
              li.nav-item
                a.nav-link(href='#') Contact
              li.nav-item
                a.nav-link(href='#') 
                  i.fas.fa-shopping-cart
    section.container.section1
      .row
        .col-lg-6.col-md-6.col-12
          .btn.btn-success.w-100 123
        .col-lg-6.col-md-6.col-12(style="background:url('https://images.unsplash.com/photo-1590415555114-d308bf24212e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');background-size:cover;")
          //- img(src="https://images.unsplash.com/photo-1590415555114-d308bf24212e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80", alt="")