<!DOCTYPE html>
html(lang="en")
  include header.pug
  body
    include sidebarMobile.pug
    section.container-fluid.section1.mb-6
      include navbar.pug
      .row
        .col-lg-6.col-md-6.col-12.bgc
        .container.content
          .row.d-flex.align-items-center
            .col-lg-6.col-md-6.col-12.text.d-flex.flex-column.d-md-block.text-center.text-md-left
              h1.mb-3 Enjoy Your
                br
                | Minimalist Lifestyle.
              h4.mb-9.mb-md-5.subtitle 
                | The best crafts in Taiwan. Get your free
                br
                | shipping on the first order.
              button.btn.btn-success.shop-btn Shop now
    section.container.mb-6.article
      article.row.mb-lg-4.mb-2
        .col-lg-6.col-md-6.col-12
          img(src="image/123.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.flex-column.text
          .row.d-flex.justify-content-center
            .col-lg-8.col-md-8.col-12
              h4 Special Clays
              p A general body formulation for contemporary   
                br
                | earthenware is 25% kaolin, 25% ball clay, 35% 
                br
                | quartz and 15% feldspar.
              a.text-success.font-weight-bold learn more
      article.row.mb-lg-4.mb-2
        .col-lg-6.col-md-6.col-12.order-md-2
          img(src="image/photo-1572725394982-fbee32027b77.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.flex-column.text.order-md-1
          .row.d-flex.justify-content-center
            .col-lg-8.col-md-8.col-12
              h4 Less is more
              p Trimming pottery can transform a weighty 
                br
                | Earth-bound pot into one that is a pleasure to hold, look
                br
                |  at, and use.
              a.text-success.font-weight-bold learn more
      article.row.mb-lg-4.mb-2
        .col-lg-6.col-md-6.col-12
          img(src="image/789.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.flex-column.text
          .row.d-flex.justify-content-center
            .col-lg-8.col-md-8.col-12
              h4 Marvelous Detail
              p In Craftsman, the art director, working with 
                br
                | marketers, develops or creates an idea of a new to creation.
              a.text-success.font-weight-bold learn more
    section.container-fluid.mb-6.banner.py-md-10.py-3
      .container
        .row
          .col-lg-9.col-md-6.col-12.mb-7.mb-md-0
            h2.text-white(style="line-height:48px;") “I want to make the life
              br
              | more simple by crafts.”
          .col-lg-3.col-md-6.col-12.text
            p.mb-1 Art Director
            h4.text-white.mb-8 hsiao-Ming Chen
            ul.d-flex
              li.mr-3
                a.text-success Instagram
              li
                a.text-success Twitter
    section.container.carousel.mb-6
      .row.owl-carousel.pl-8
        .card.border-0
          img.card-img-top.mb-2(src='image/tom-crew-XtyxEBiA8D8-unsplash.jpg', alt='Card image cap')
          .tag On Sale
          h4.card-title.mb-1 Tatami Cup
          .descr
            span NT$1,080
            del.ml-2 NT$1,200
        .card.border-0
          img.card-img-top.mb-2(src='image/tom-crew-7HuTGlUfQSo-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Couple Collection
          .descr
            span NT$2,800
        .card.border-0
          img.card-img-top.mb-2(src='image/tom-crew-8_ldgq801cE-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Brotherhood Vase
          .descr
            span NT$4,800
        .card.border-0
          img.card-img-top.mb-2(src='image/tom-crew-bgIO-u4GEfI-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Baifan Bowl
          .descr
            span NT$1,800
    include footer.pug
    script.
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          margin:16,
          responsiveClass:true,
          responsive:{
              0:{
                  items:1,
              },
              768:{
                  items:2,
              },
              992:{
                  items:3,
              }
          }
        });
      });