<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
  body

    section.container-fluid.section1.mb-6
      nav.navbar.navbar-expand-lg.navbar-light.container
        a.logo.navbar-brand(href="index.html") Craftsman
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active.mr-5
              a.nav-link.text-white(href='#')
                | Product 
                span.sr-only (current)
            li.nav-item.mr-5
              a.nav-link.text-white(href='#') Blog
            li.nav-item.mr-5
              a.nav-link.text-white(href='#') Contact
            li.nav-item
              a.nav-link.text-white(href='#') 
                i.fas.fa-shopping-cart
      .row
        .col-lg-6.col-md-6.col-12.bgc
        .container.content
          .row.d-flex.align-items-center
            .col-lg-6.col-md-6.col-12.text.d-flex.flex-column.d-md-block.text-center.text-md-left
              h1.text-white.text-md-success.mb-3 Enjoy Your
                br
                | Minimalist Lifestyle.
              h4.mb-9.mb-md-5.subtitle 
                | The best crafts in Taiwan. Get your free
                br
                | shipping on the first order.
              button.btn.btn-success.shop-btn Shop now
    section.container.mb-6.article
      article.row
        .col-lg-6.col-md-6.col-12
          img(src="image/123.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.algin-items-center.flex-column.text
          h4 Special Clays
          p A general body formulation for contemporary   
            br
            | earthenware is 25% kaolin, 25% ball clay, 35% 
            br
            | quartz and 15% feldspar.
          a.text-success.font-weight-bold learn more
      article.row
        .col-lg-6.col-md-6.col-12.order-md-2
          img(src="image/photo-1572725394982-fbee32027b77.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.algin-items-center.flex-column.text.order-md-1
          h4 Less is more
          p Trimming pottery can transform a weighty 
            br
            | Earth-bound pot into one that is a pleasure to 
            br
            | hold, look at, and use.
          a.text-success.font-weight-bold learn more
      article.row.d-flex
        .col-lg-6.col-md-6.col-12
          img(src="image/789.jpg", alt="")
        .col-lg-6.col-md-6.col-12.d-flex.justify-content-center.algin-items-center.flex-column.text
          h4 Marvelous Detail
          p In Craftsman, the art director, working with 
            br
            | marketers, develops or creates an idea of a new to 
            br
            | creation.
          a.text-success.font-weight-bold learn more
    section.container-fluid.mb-6.banner
      .container
        .row
          .col-lg-4.col-md-6.col-12.mb-7.mb-md-0
            h2.text-white(style="line-height:48px;") “I want to make the life
              br
              | more simple by crafts.”
          .col-lg-8.col-md-6.col-12.text
            p.mb-1 Art Director
            h4.text-white.mb-8 hsiao-Ming Chen
            ul.d-flex
              li.mr-3
                a.text-success Instagram
              li
                a.text-success Twitter
    section.container.carousel.mb-6
      .row.owl-carousel.pl-8
        .card.border-0
          img.card-img-top(src='image/tom-crew-XtyxEBiA8D8-unsplash.jpg', alt='Card image cap')
          .tag On Sale
          h4.card-title.mb-1 Tatami Cup
          .descr
            span NT$1,080
            del.ml-2 NT$1,200
        .card.border-0
          img.card-img-top(src='image/tom-crew-7HuTGlUfQSo-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Couple Collection
          .descr
            span NT$2,800
        .card.border-0
          img.card-img-top(src='image/tom-crew-8_ldgq801cE-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Brotherhood Vase
          .descr
            span NT$4,800
        .card.border-0
          img.card-img-top(src='image/tom-crew-bgIO-u4GEfI-unsplash.jpg', alt='Card image cap')
          h4.card-title.mb-1 Baifan Bowl
          .descr
            span NT$1,800
    section.container-fluid.footer-banner
      .container
        .row
          .col-lg-5.col-md-6.col-12
            h1.text-white.mb-5
              | Subscribe for news 
              br
              | and special offers!
            .input-group.mb-3
              input.form-control(type='text', placeholder="Your email address", aria-label="Recipient's username", aria-describedby='basic-addon2')
              .input-group-append
                button.btn.btn-success(type='button') Subscribe
    footer.container-fluid.bg-dark.footer
      .container.py-4
        .row.d-flex.align-items-md-center.flex-column.flex-md-row
          a.text-white.logo.order-1(href="index.html") Craftsman
          span.ml-md-8.copyright.order-3.order-md-2 © 2020. All Rights Reserved.
          ul.ml-md-auto.d-block.d-lg-flex.order-2.order-md-3
            li.mb-8.mr-5.mb-lg-0
              a.nav-item(href="#") Purchase Policy
            li.mb-8.mr-5.mb-lg-0
              a.nav-item(href="#") Privacy Policy
            li.mb-8.mb-lg-0
              a.nav-item(href="#") Privacy Policy
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script.
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          margin:16,
          responsiveClass:true,
          responsive:{
              0:{
                  items:1,
              },
              768:{
                  items:3,
              },
              992:{
                  items:3,
              }
          }
        });
      });