nav.navbar.navbar-expand-lg.container
    button.navbar-toggler.order-md-2.py-2(onclick="openNav()")
        i.fas.fa-bars.text-white
    a.logo(href="index.html") Craftsman
    a.text-white.d-md-none.d-block.py-2(href='#') 
        i.fas.fa-shopping-cart
    #navbarSupportedContent.collapse.navbar-collapse
        ul.ml-auto.d-lg-flex.d-none.navbar-nav
            li.nav-item.active.mr-3
                a.nav-link.text-white(href='product.html')
                    | Product 
                    span.sr-only (current)
            li.nav-item.mr-3
                a.nav-link.text-white(href='#') Blog
            li.nav-item.mr-3
                a.nav-link.text-white(href='#') Contact
            li.nav-item
                a.nav-link.text-white(href='#') 
                    i.fas.fa-shopping-cart

        
        